
- if user_signed_in? && current_user.already_liked?(post)
  = link_to post_likes_path(post), method: :delete, remote: true do
    %i.fas.fa-heart
- else
  = link_to post_likes_path(post), method: :post, remote: true do
    %i.far.fa-heart
= post.likes.count