= render partial: "layouts/header"
  
.post_mainscreen
  .post_header
    .user_profile_image
      = image_tag asset_path("A5275E9C-B6EC-4620-B46E-7AA77B5C465A.jpeg"), size: "40x40", class: "ge_logo" 
    .user_nickname Andy
  .post__content
    .user_nickname Andy
    .post__content--text
  .post__content--pic
    
  
  