

* { box-sizing: border-box; }
html,body{
  background-color: #F6f6f4;
  height: calc(100vh - 435px);
  margin: 0;
  
}
.wrapper {
  min-height: 100%;
}

.post_mainscreen{
  width: 50%;
  margin: 0 auto;
  
  border-radius: 5px;
  
  .post_header{
    height: 50px;
    background-color: #ffffff;
    border-color: #efefef;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    border: 1px solid black;
    border-bottom: 0;
    margin-top: 50px;
    position: relative;

    .user_profile_image{
      height: 40px;
      width: 40px;
      background-color: black;
      border-radius: 50%;
      margin-left: 20px;

      img{
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
    }

    .user_nickname{
      margin-left: 10px;
      font-weight: bold;
      
    }

    .post_title_box {

      width: 100%;
      margin-right: 110px;
      .post_title_name{
        font-weight: bold;
        text-align: center;
        top: 15px;
        left: 40%;
      }
    }
     .post-controll-btn{
       display: flex;
       position: absolute;
       right: 10px;
       top: 15px;

       
       a{
         text-decoration: none;
         color: black;
       }

       
       li.comment_link{
        display: none;
        position: absolute;
        top: 0px;
        left: 17px;
        
       }

       li.delete_link{
        display: none;
        position: absolute;
        top: 20px;
        left: 17px;
        
       }

       li.edit_link{
        display: none;
        position: absolute;
        top: 40px;
        left: 17px;
        
       }
       ul.options-post:hover li{
        display: block;
        background-color: #fafafafa;
        height: 25px;
        width: 150px;
       }
       .comment_icon{
         height: 30px;
         width: 30px;
       }
       .like_btn{
        display: flex;
        height: 30px;
        width: 40px
       }
       i{
         font-size: 25px;
       }

     }  
  }

  .post__content{
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
  
  
  
    .user_nickname{
      margin-left: 10px;
      font-weight: bold;
      margin-top: 10px;
    }

    &--pic{
      height: 70%;
      width: 100%;
      background-color: #ffffff;
      margin: 0 auto;

      img{
        width: 100%;
        height: 450px;
      }
    }
    .post__content--textbox{
      padding: 10px;
      background-color: #ffffff;
      border-radius: 0 0 5px 5px;
      word-break: break-all;

      
      &--text{
        margin-top: 10px;
        
      }
    }
  }
}
  