.comment__box{
  
  border: solid 1px black;
  background-color: #ffffff;
  padding: 20px 36px;
  margin-top: 20px;
  border-radius: 5px 5px;
  position: relative;
  
  .comment-form-box{
    width: 100%;
    padding: 8px;
    height: 40px;
  }

  .comment-btn{
    position: absolute;
    top: 26px;
    right: 50px; 
  }
  
  

    .comment-list-container{
      width: 100%;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      .left-box-name-text{
        display: flex;

      .comment_user_name{
        font-weight: bold;
      }

      .comment.text{
        margin-left: 20px;
      }
    }

    a{
      text-decoration: none;
      color: black;
    }

      .comment_delete_btn{
        border: solid 1px black;
        padding: 3px 5px;
        border-radius: 5px 5px;

      }

  }
}