.delete-complete-message{
  width: 60%;
  height:200px;
  background-color: #fafafa;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  align-items: center;

    p{
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
    }

    .back-toppage-btn{
      height: 40px;
      font-weight: bold;
      margin-top: 10px;
      background-color: rgb(41, 233, 41);
      padding: 5px;
  
      a{
        text-decoration:none;
        color: black;
      }
    }

}