
.function-row{
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;

  h2{
    text-align: center;
  }
}
.form_newpost{
  width: 50%;
  margin:0 auto;
  
  
    .title-input-form{
      width: 100%;
      height: 50px;
    }
    .form-text-box{
      position: relative;
    }
    .text-content{
      width: 100%;
    }

    .newpost_submitbtn{
      width: 100%;
      background-color: #ffff00c9;
      margin-top: 20px;
    }
    .Form__icon{
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 45px;
      
    }
    .Hidden{
      display: none;
    }

}