.header
  .header_functions
    .left__part
      .logomark_app
        = image_tag asset_path("/GElogo.png"), size: "80x80", class: "ge_logo" 
      .logo__title GUNJIN ENGLSIH
    .middle_part
      .home-header__search-box
        = form_with local: true  do |form|
          = form.text_field placeholder: "キーワードから探す", class: "searchbox-input"
    .right__part
      .home-header__search-box
        .home_btn
        = icon('fa','home')
    
          
        
  